    .card {
        max-width: 275px;
        height: 200px;
    }
    .bullet {
        display: inline-block;
        margin: 0 2px;
        transform: scale(0.8);
    }
    .title {
        font-size: 14px;
    }
    .pos {
        margin-bottom: 12px
    }