@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap&subset=latin-ext');
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
