body {
    /* background: #000000; */
}

h1 {
	color: #121212;
	font-size: 6vmin;
	line-height: 0.2;
	font-weight: bold;
	letter-spacing: 2px;
	font-family: 'Righteous', sans-serif;
	text-transform: uppercase;
	padding-left: 40px;
}

h6 {
	color: #121212;
	font-size: 2.5vmin;
	line-height: 0.2;
	font-weight: bold;
	letter-spacing: 2px;
	font-family: 'Righteous', sans-serif;
	text-transform: uppercase;
	padding-left: 40px;
}

.InfoLayer {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* background: #333333; */
}

.WelcomeLayer {
    width: 100%;
    height: 100%;
    /* background: #902222; */
    position: relative;
}

.TextLayer {
    position: absolute;
    bottom: 15%;
    left: 4%;
    z-index: 100;
}

svg#blob {
    position: absolute;
    top: 0;
    /*width: 150vmax;
    height: 150vmin;*/
    z-index: 10;
}

svg#blob g {
    transform: translate(0px,0px);
}
