body {
    /* background: #000000; */
}

h1 {
	color: #121212;
	font-size: 6vmin;
	line-height: 0.2;
	font-weight: bold;
	letter-spacing: 2px;
	font-family: 'Righteous', sans-serif;
	text-transform: uppercase;
	padding-left: 40px;
}

h6 {
	color: #121212;
	font-size: 2.5vmin;
	line-height: 0.2;
	font-weight: bold;
	letter-spacing: 2px;
	font-family: 'Righteous', sans-serif;
	text-transform: uppercase;
	padding-left: 40px;
}

.InfoLayer {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* background: #333333; */
}

.WelcomeLayer {
    width: 100%;
    height: 100%;
    /* background: #902222; */
    position: relative;
}

.TextLayer {
    position: absolute;
    bottom: 15%;
    left: 4%;
    z-index: 100;
}

svg#blob {
    position: absolute;
    top: 0;
    /*width: 150vmax;
    height: 150vmin;*/
    z-index: 10;
}

svg#blob g {
    transform: translate(0px,0px);
}

/* ///////////////
SPONSORS
///////////////// */

.SponsorsLayer {
    position: absolute;
    bottom: 6%;
    left: 6%;
    z-index: 100;
}

#sponsors {
    width: 320px;
    height: 190px;
    position: relative;
}

#sponsors div {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    position: absolute;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index: 11;
}

#sponsors div img {
    max-width: 100%;
    max-height: 100%;   
}

#sponsors div:nth-of-type(1) {
    animation-name: fader;
    animation-delay: 4s;
    animation-duration: 1.6s;
    z-index: 30;
}

#sponsors div:nth-of-type(2) {
    z-index: 20;
}

#sponsors div:nth-of-type(n+3) {
    display: none;
}

@keyframes fader {
    from { opacity: 1.0; }
    to   { opacity: 0.0; }
}
