.menuWidth {
  width: 400px;
}

.menuWidth h2 {
  padding-left: 16px;
  padding-top: 20px;
}

.topbar {
  display: flex;
  justify-content: space-between;
}
/* 

.menuItem {
  padding-left: 16px !important;
  padding-top: 20px !important;
}

.menuItem {
  padding-left: 16px !important;
  padding-top: 20px !important;
}

.menuSelect {
  padding-bottom: 20px;
}
*/
.menuForm {
  width: 90%;
}

/* .menuForm label {
  margin-top: 5%;
  margin-left: 4%;
} 

.menuForm div {
  width: 90%;
  margin: 9 auto;
} 
*/